{
  "parserOptions": {
      "ecmaVersion": 2017
  },

  "env": {
      "es6": true
  },
  "rules": {
    "no-var": "error",
    "semi": "error",
    // "indent": "error"
    // "indent": [1, "tab"],
    "no-multi-spaces": "error",
    "space-in-parens": "error",
    "no-multiple-empty-lines": "error",
    "prefer-const": "error",
    "no-use-before-define": "error"
  }
}
