.site-nav__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.site-nav__item {
  display: flex;
  justify-content: right;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.site-nav__link {
  font-size: 14px;
  line-height: calc(21 / 14);

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: calc(23 / 18);
  }
}
