.site-nav__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.site-nav__item {
  display: flex;
  justify-content: right;
  padding: 7px;
  margin-bottom: 5px;
  transition: all 0.3s ease;

  @media (min-width: $tablet-width) {
    cursor: pointer;
  }
}

.site-nav__item:hover,
.site-nav__item:focus {
  background-color: $decor-5;
  color: $white;
}

.site-nav__item:hover a,
.site-nav__item:focus a {
  color: $white;
}

.site-nav__item:active {
  opacity: 0.4;
}

.site-nav__link {
  display: block;
  width: 100%;
  text-align: end;
  text-align: right; // IE
  font-size: 14px;
  line-height: calc(21 / 14);

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: calc(23 / 18);
  }
}
