$desktop-width: 1000px;
$tablet-width: 720px;
$mobile-plus-width: 570px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$white: #ffffff;
$black: #000000;
$error: #dd2e0f;
$decor-1: #e83d43;
$decor-2: #9b9997;
$decor-3: #f9f9f9;
$decor-4: #171717;
$decor-5: #78bd20;
